* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
 .container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}
.tittle{
  margin-bottom: 0.6rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
input{
  padding: 1rem;
}
label{
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.btn-signup{
  padding: .5rem;
  color: white;
  background-color: blue;
  font-size: .9rem;
  border-radius: .3rem;
  border: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}
.back{
  margin-bottom: 0.6rem;
}
.or{
  font-size: 1.3rem;
  margin: 0.7rem 0rem;
}
.btn-wrapper{
  margin-bottom: 0.6rem;
}
.social-icon{
  margin-bottom: 1.5rem;
}
.list{
  display: flex;
  list-style: none;
  gap: 0.8rem;
}
.list-item{
  border: 1px solid gray;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.create-account{
  text-align: center;
}
.fa-linkedin-square {
  color: skyblue;
}
.fa-facebook-official {
  color: blue;
}
.fa-twitter {
  color: dodgerblue;
}
@media (min-hight: 600px) {
  .container{
    margin: 1rem;
  }
  .list{
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}